Dgram SigComp messages ends with 0xFFFF

```
What steps will reproduce the problem?
1.
2.
3.

What is the expected output? What do you see instead?


Please use labels and text to provide additional information.
This looks to be a regression introduce when ICE support was added.
See RFC 3320 section 4.2.2 for more info.
```

Original issue reported on code.google.com by `boss...@yahoo.fr` on 6 Dec 2012 at 4:56
