Unnecessary SDP attributes in 200 OK for INVITE

```
In an incoming call, it is observed that while responding to INVITE with 200 
OK, the application appends the following three lines of attributes - 

a=ssrc:2927260748 cname:8310be726bf24f96fed0f180307c0408
a=ssrc:2927260748 mslabel:6994f7d1-6ce9-4fbd-acfd-84e5131ca2e2
a=ssrc:2927260748 label:doubango@audio

Infact INVITE has no such attributes on the offer but 200 OK appends them. 
Although RFC 4566, Section 5.13 says that - "If an attribute is received that 
is not understood, it MUST be ignored by the receiver."

and the same thing is also observed here with the PBX. However it makes more 
sense if it were sent on an SDP Offer of INVITE.

version v2.x.,code under branches/2.0
OS:Android

```

Original issue reported on code.google.com by `swarnim...@gmail.com` on 12 Aug 2013 at 2:06

Attachments:
- [newfile.pcap](https://storage.googleapis.com/google-code-attachments/doubango/issue-302/comment-0/newfile.pcap)
