Missing received parameter from Via header

```
It is observed that when the application receives UPDATE with rport parameter, 
it responds with 200 OK with missing "received" parameter from Via header. It 
can be seen two times in the call flow.

Per RFC 3581, Section 4, the server MUST insert a "received" parameter
   containing the source IP address that the request came from, even if
   it is identical to the value of the "sent-by" component.

Steps:
1. REGISTER the application
2. Make a call & terminate it


version v2.x.,code under branches/2.0
OS:Android

Expected Result: Whenever there is any request coming with "rport" parameter 
with Via header, the response should have "received" parameter with the IP 
address

```

Original issue reported on code.google.com by `swarnim...@gmail.com` on 12 Aug 2013 at 1:54

Attachments:
- [credentials.pcap](https://storage.googleapis.com/google-code-attachments/doubango/issue-299/comment-0/credentials.pcap)
