Missing Timestamp header from 100 Trying

```
When INVITE contains a header called Timestamp, it must also be present in 100 
Trying response.

For more details, please refer Section 8.2.6.1 of RFC 3261.
Attached is the pcap.

```

Original issue reported on code.google.com by `swarnim...@gmail.com` on 12 Aug 2013 at 1:32

Attachments:
- [timestamp.pcap](https://storage.googleapis.com/google-code-attachments/doubango/issue-295/comment-0/timestamp.pcap)
